.footer {
    position: fixed;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 -8px 6px -6px #999;
}

#create {
    float: right;
    margin-right: 1rem;
}

.finalize-text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
}